# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
mysql-mcp-server
.cursor

# E2E testing
/playwright-report/
/test-results/
/node_modules/
/vendor/
/tests/.phpunit.cache
/.env
package-lock.json
**/e2e/**
.env.example
package.json
playwright.config.ts
tmp-find-edd-sl.php
tsconfig.json
docs/**

#PHPUnit Tests
/tests/**
.phpunit.result.cache
phpunit.xml
/composer.json
/composer.lock

#Scripts
/scripts/**

# Configuration
wp-config.php
github-actions-*
!.github/*

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/masterstudy-child/
!/wp-content/themes/kadence-child/

# mu-plugins
!/wp-content/mu-plugins/aaa-psychicschool-tests.php
!/wp-content/mu-plugins/disable-depreacated.php
!/wp-content/mu-plugins/fix-kadence-vc-conflict.php

# Plugins
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/wc-booking-confirmed-after-paid/
!/wp-content/plugins/psychicschool-functionalities/